* {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1280px;
    margin: auto;
}

.menu ul {
    display: flex;
    justify-content: center;
    margin: 26px 0;
    list-style-type: none;
}

.menu-item {
    text-transform: uppercase;
    margin: 0 36px;
    font-weight: 700;
    font-size: 18px;
}

.menu-item a {
    color: #FF0000;
    text-decoration: none;
}

.main-text-block {
    padding: 0 68px;
}

.title {
    margin: 48px 0 38px;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}

p {
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}

p:last-of-type {
    margin-bottom: 66px;
}

.btn {
    display: block;
    margin: auto;
    padding: 18px 42px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    background: #FF0000;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.footer-text {
    margin: 82px 0 30px;
    padding: 0 105px;
    text-align: right;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2.4px;
    color: #373737;
}